.container {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
}

.start-over-button,
.error {
	position: absolute;
	top: 60%;
}

.error {
	font-size: 0.5em;
	color: red;
}

.grow {
	animation: grow 0.5s ease;
}

.thunder-stone {
	width: 50px;
}

@keyframes grow {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}